body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.centered {
  float: none;
  margin: 0 auto;
}
.gold {
  color: #ffd700;
}
.blue {
  color: #3266cc;
}
.google-visualization-tooltip {
  padding: 1px !important;
  font-size: 10px;
}
.google-visualization-tooltip-item-list {
  padding: 0px !important;
  margin: 1px !important;
}
.google-visualization-tooltip-item {
  overflow: hidden;
  max-width: 210px !important;
  height: 10px !important;
  padding: 0px !important;
  margin: 1px !important;
  font-size: 9px;
  white-space: nowrap;
}
.google-visualization-tooltip-item span:nth-child(2) {
  display: inline-block;
  width: 150px !important;
  text-align: right !important;
}
.google-visualization-tooltip-item span:nth-child(3) {
  display: inline-block;
  width: 50px !important;
  text-align: right !important;
  background-color: #fff;
}
.label1 {
  border: none;
  background: #fff;
  background-image: url("/images/star.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  color: #fff;
  padding: 2px 10px 2px;
  line-height: 22px;
  text-decoration: none;
  border-radius: 6px;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.info-window {
  width: 144px;
  height: 106px;
  color: #ffedc8;
  font: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  max-width: none;
  padding: 0px;
  margin: 0px;
}
.row-head {
  background: #fff;
}
.row-outbound {
  background: #efefed;
}
.row-inbound {
  background: #f0f8fb;
}
.vh-centered {
  vertical-align: middle;
  text-align: center;
}
